{% extends "base.html" %}
{% load static %}
{% load storage_extras %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <main class="container mt-header">
        <div class="row" role="tablist">
            <div class="col-lg-3 d-flex flex-column nav nav-pills">
                <button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_orange SelfStorage_tab active"
                        id="LK-tab" data-bs-toggle="pill" data-bs-target="#LK" type="button" role="tab"
                        aria-controls="LK" aria-selected="true">Личный кабинет
                </button>
                <button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" id="Rent-tab"
                        data-bs-toggle="pill" data-bs-target="#Rent" type="button" role="tab" aria-controls="Rent"
                        aria-selected="false">Моя аренда
                </button>
                <a href="{% url 'storage:faq' %}"
                   class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">FAQ</a>
                <a href="{% url 'user:logout' %}"
                   class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">Выйти</a>
            </div>
            <div class="col-lg-9">
                <div class="card tab-content p-5">
                    <div class="tab-pane fade show active" id="LK" role="tabpanel" aria-labelledby="LK-tab">
                        <div class="row">
                            <div class="col-12 col-sm-5 d-flex flex-column align-items-center">
                                <form method="post" action="{% url 'user:update_user_info' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if user.image %}
                                        <img src="{{ user.image.url }}" style="width: 50%" class="rounded-pill mb-3"
                                             alt="">
                                    {% else %}
                                        <img src="{% static 'img/no_image.png' %}" style="width: 50%" class="rounded-pill mb-3"
                                             alt="">
                                    {% endif %}
                                    <input type="file" name="image" id="image" class="form-control mb-3">
                                    <label class="fs_24 SelfStorage_green ms-2" for="phone_number">Имя</label>
                                    <input type="tel" name="first_name" id="first_name"
                                           class="form-control fs_24 ps-2 SelfStorage__input"
                                           value="{{ user.first_name|default:'' }}">
                                    <label class="fs_24 SelfStorage_green ms-2" for="phone_number">Фамилия</label>
                                    <input type="tel" name="last_name" id="last_name"
                                           class="form-control fs_24 ps-2 SelfStorage__input"
                                           value="{{ user.last_name|default:'' }}">
                                    <button type="submit" class="btn SelfStorage_green ps-1">Обновить
                                    </button>
                                </form>
                            </div>
                            <div class="col-12 col-sm-7 d-flex flex-column">
                                <form method="post" action="{% url 'user:update_user_profile' %}">
                                    {% csrf_token %}
                                    <label class="fs_24 SelfStorage_green ms-2" for="email">E-mail</label>
                                    <input type="email" name="email" id="email"
                                           class="form-control fs_24 ps-2 SelfStorage__input" value="{{ user.email }}"
                                           disabled>
                                    <label class="fs_24 SelfStorage_green ms-2" for="phone_number">Телефон</label>
                                    <input type="tel" name="phone_number" id="phone_number"
                                           class="form-control fs_24 ps-2 SelfStorage__input"
                                           value="{{ user.phone_number|default:'' }}" disabled>
                                    <button type="submit" class="btn SelfStorage_green ps-1" id="save"
                                            style="display: none">Сохранить
                                    </button>
                                    <a class="btn SelfStorage_orange ps-1" id="edit">Редактировать</a>
                                    <script>
                                        document.getElementById('edit').addEventListener('click', e => {
                                            e.preventDefault()
                                            document.getElementById('email').disabled = false
                                            document.getElementById('phone_number').disabled = false
                                            document.getElementById('edit').style.display = 'none'
                                            document.getElementById('save').style.display = 'inline-block'
                                        })
                                        document.getElementById('save').addEventListener('click', () => {
                                            setTimeout(() => {
                                                document.getElementById('email').disabled = true
                                                document.getElementById('phone_number').disabled = true
                                                document.getElementById('edit').style.display = 'inline-block'
                                                document.getElementById('save').style.display = 'none'
                                            }, 0)
                                        })
                                    </script>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Rent" role="tabpanel" aria-labelledby="Rent-tab">
                        <h1 class="fw-bold SelfStorage_green mb-5">Добрый день, {{ user.first_name }}!</h1>

                        {% if not all_rents %}
                            <h4 class="SelfStorage_grey my-5">У вас еще нет заказов.<br>Но вы можете арендовать свой первый бокс  по  привлекательной цене прямо сейчас</h4>
					        <div><button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">Арендовать бокс</button></div>
                        {% else %}
                            {% if expired_rents %}
                                <h2 class="fw-bold SelfStorage_orange mb-5">Просроченные заказы</h2>
                                {% for rent in expired_rents %}
                                    <div class="mb-5">
                                        <h3 class="SelfStorage_green">Заказ №{{rent.id}}</h4>
                                        <h4 class="SelfStorage_grey my-3">Срок аренды этого заказа подошёл к концу и ваши вещи теперь хранятся в ней по повышенному тарифу.<br>
                                            Заберите вещи со склада до {{ rent.end_date|final_date }} или они будут выброшены.</h4>
                                        <h4 class="SelfStorage_green">Адрес склада</h4>
                                        <h4>{{rent.box.storage.city.name}}, {{rent.box.storage.address}}</h4>
                                        <h4 class="SelfStorage_green">№ бокса</h4>
                                        <h4>{{rent.box.number}}</h4>
                                        <h4 class="SelfStorage_green">Срок аренды</h4>
                                        <h4>{{rent.start_date}} - {{rent.end_date}}</h4>
                                        <h4 class="SelfStorage_green">Статус оплаты</h4>
                                        <h4>{{rent.get_payment_status_display}}</h4>
                                        <div>
                                            <button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">
                                                Продлить аренду
                                            </button>
                                        </div>
                                        <div>
                                            <button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">
                                                Открыть бокс
                                            </button>
                                        </div>
                                        <a href="#" class="SelfStorage_orange">Нужна помощь?</a>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% if active_rents %}
                                <h2 class="fw-bold SelfStorage_orange mb-5">Текущие заказы</h2>
                                {% for rent in active_rents %}
                                    <div class="mb-5">
                                        <h3 class="SelfStorage_green">Заказ №{{rent.id}}</h4>
                                        {% if rent.end_date|days_remain <= 7 %}
                                        <h4 class="SelfStorage_grey my-3">Срок аренды этого заказа скоро подойдёт к концу.</h4>
                                        {% endif %}
                                        <h4 class="SelfStorage_green">Адрес склада</h4>
                                        <h4>{{rent.box.storage.city.name}}, {{rent.box.storage.address}}</h4>
                                        <h4 class="SelfStorage_green">№ бокса</h4>
                                        <h4>{{rent.box.number}}</h4>
                                        <h4 class="SelfStorage_green">Срок аренды</h4>
                                        <h4>{{rent.start_date}} - {{rent.end_date}}</h4>
                                        <h4 class="SelfStorage_green">Статус оплаты</h4>
                                        <h4>{{rent.get_payment_status_display}}</h4>
                                        <div>
                                            <button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">
                                                Продлить аренду
                                            </button>
                                        </div>
                                        <div>
                                            <button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">
                                                Открыть бокс
                                            </button>
                                        </div>
                                        <a href="#" class="SelfStorage_orange">Нужна помощь?</a>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% if previous_rents %}
                                <h2 class="fw-bold SelfStorage_orange mb-5">Предыдущие заказы</h2>
                                {% for rent in previous_rents %}
                                    <div class="mb-5">
                                        <h3 class="SelfStorage_green">Заказ №{{rent.id}}</h4>
                                        <h4 class="SelfStorage_green">Адрес склада</h4>
                                        <h4>{{rent.box.storage.city.name}}, {{rent.box.storage.address}}</h4>
                                        <h4 class="SelfStorage_green">№ бокса</h4>
                                        <h4>{{rent.box.number}}</h4>
                                        <h4 class="SelfStorage_green">Срок аренды</h4>
                                        <h4>{{rent.start_date}} - {{rent.end_date}}</h4>
                                        <h4 class="SelfStorage_green">Статус оплаты</h4>
                                        <h4>{{rent.get_payment_status_display}}</h4>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}