{% load static %}
<article class="text-center row pt-header">
    <h1 class="fw-bold SelfStorage_green mb-4">Удобная и доступная аренда боксов</h1>
    <div class="col-12 col-sm-4 d-flex flex-column mb-4 mb-sm-0">
        <div class="align-self-center d-flex justify-content-center align-items-center SelfStorage__bg_green rounded-pill" style="width: 84px; height: 84px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
            </svg>
        </div>
        <h4 class="fw-bold mt-4 mb-3 SelfStorage__bg_black">Не нужно измерять</h4>
        <h6>Доставщик замерит габариты ваших вещей на месте</h6>
    </div>
    <div class="col-12 col-sm-4 d-flex flex-column mb-4 mb-sm-0">
        <div class="align-self-center d-flex justify-content-center align-items-center SelfStorage__bg_green rounded-pill" style="width: 84px; height: 84px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-percent rounded-pill" viewBox="0 0 16 16" style="border: 3px solid white">
                <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
        </div>
        <h4 class="fw-bold mt-4 mb-3 SelfStorage__bg_black">Бесплатная доставка</h4>
        <h6>Доставим ваши вещи от дома до ближайшего склада</h6>
    </div>
    <div class="col-12 col-sm-4 d-flex flex-column mb-4 mb-sm-0">
        <div class="align-self-center d-flex justify-content-center align-items-center SelfStorage__bg_green rounded-pill" style="width: 84px; height: 84px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-calendar-plus" viewBox="0 0 16 16">
                <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
        </div>
        <h4 class="fw-bold mt-4 mb-3 SelfStorage__bg_black">Нас трудно забыть</h4>
        <h6>Удобная система напоминаний о сроках аренды бокса</h6>
    </div>
</article>